:root {
    --color1: #000;
    --color2: #333;
    --color3: #666;
    --color4: #999;
    --color5: #cacaca;
    --color6: #fff;
    --color7: #9D5CD0;
    --color8: #D1A9F0;
    --color9: rgba(157, 92, 208, 0.5);
    --color10: #D11616;
    --color11: #7943A4;
    --color12: #ECECEC;
    --color13: #b7b7b7;
    --color14: #C283F3;
    --color15: #969696;
    --font-family: 'Open Sans', sans-serif;
    --outline: 2px solid (--color7);
    --container-max-width: 1200px;
    --container-padding: 15px;
    --columns: 12;
    --gutter: 30px;
    --swiper-navigation-size: 40px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-horizontal-gap: 7.5px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: var(--font-family);
}

body {
    background-color: var(--color6);
    color: var(--color2);
}

h1,
h2,
h3,
p,
a,
ul,
li,
span {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    outline: 3px solid #666;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    flex-grow: 0;
    height: 150px;
    padding-left: calc(var(--gutter)/2);
    padding-right: calc(var(--gutter)/2);
    background-color: rgba(255, 0, 0, .3);
}

.col-1 {
    flex-basis: calc(100% / var(--columns));
}

.col-2 {
    flex-basis: calc(calc(100% / var(--columns)) * 2);
}

.col-3 {
    flex-basis: calc(calc(100% / var(--columns)) * 3);
}

.col-4 {
    flex-basis: calc(calc(100% / var(--columns)) * 4);
}

.col-5 {
    flex-basis: calc(calc(100% / var(--columns)) * 5);
}

.col-6 {
    flex-basis: calc(calc(100% / var(--columns)) * 6);
}

.col-7 {
    flex-basis: calc(calc(100% / var(--columns)) * 7);
}

.col-8 {
    flex-basis: calc(calc(100% / var(--columns)) * 8);
}

.col-9 {
    flex-basis: calc(calc(100% / var(--columns)) * 9);
}

.col-10 {
    flex-basis: calc(calc(100% / var(--columns)) * 10);
}

.col-11 {
    flex-basis: calc(calc(100% / var(--columns)) * 11);
}

.col-12 {
    flex-basis: 100%;
}

.content {
    height: 100%;
    text-align: center;
    background-color: rgba(255, 0, 0, .3);
}

.header {
    height: 45px;
    color: var(--color6);
    background: var(--color1);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
}

.container {}

.header__button {
    position: relative;
    width: 50px;
    height: 50px;
}

.header__button-image {
    position: absolute;
    width: 25px;
    height: 1.9px;
    top: 16px;
    left: 15px;
    background-color: var(--color6);
}

.header__button-image::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    top: 8px;
    left: 0;
    background-color: var(--color6);
}

.header__button-image::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    top: 16px;
    left: 0;
    background-color: var(--color6);
}

.header__nav {
    position: relative;
}

.header__nav-body {
    width: 100%;
    background: var(--color1);
}

.header__nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header__nav-item {
    background: var(--color1);
    height: 30px;
}

.header__nav-link {
    vertical-align: middle;
    height: 100%;
    font-size: 18px;
    color: var(--color6);
}

.header__signin {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    color: var(--color6);
    font-size: 16px;
    text-align: end;
    padding-right: 42px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: top 16px left 28%;
    background-image: url(/img/header/header-enter.svg);
    border-radius: 100px;
    border: 2px solid var(--color7);
}

.logo {
    margin-bottom: -3px;
}

.logo__image {
    width: 98px;
    height: 22px;
}

.search {
    position: relative;
}

.search__btn {
    width: 50px;
    height: 50px;
}

.search__btn::after {
    position: absolute;
    top: 17px;
    right: 15px;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid var(--color6);
    border-radius: 100px;
}

.search__btn::before {
    content: '';
    position: absolute;
    bottom: 14px;
    left: 18px;
    width: 2px;
    height: 7px;
    background-color: var(--color6);
    transform: rotate(45deg);
}

.popup {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.search__popup {
    right: -101%;
    transition-property: opacity, transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: auto;
}

.search__popup.open {
    transform: translate(-101%, 0);
}

.search__popup.open .search__body {
    transform: perspective(600px) translate(0, 0px) rotateY(0deg);
}

.search__body {
    width: 100%;
    transform: perspective(600px) translate(0, 0px) rotateY(-105deg);
    transition-property: opacity, transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.search__list {
    display: none;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
}

.search__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: var(--color1);
    margin-bottom: 2px;
}

.search__item-btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    color: var(--color6);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}


/* .search__item-btn:hover,
  .search__item-btn:focus {
      color: var(--color7);
  } */

.search__item-btn::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    margin-left: 10px;
    margin-top: -3px;
    transform: rotate(135deg);
    transition: transform 0.5s ease;
    transform-origin: cente;
}

.search__item-btn.is-active {
    color: var(--color14);
}

.search__item-btn.is-active::after {
    transform: rotate(-45deg) translateY(4px);
}

.search__dropdown {
    z-index: 100;
    display: none;
    padding: 40px 20px 40px 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.search__dropdown-wrap {
    width: 230px;
    height: 220px;
}

.search__dropdown.is-active {
    position: absolute;
    top: 50px;
}

.search__dropdown>ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.search__dropdown.is-active {
    display: block;
    animation-name: dropdownOpen;
    animation-duration: 0.4s;
}

.search__dropdown.is-disabled {
    display: block;
    animation-name: dropdownClose;
    animation-duration: 0.4s;
}

.search__drop-list {
    list-style: none;
    padding-left: 0;
}

.search__dropdown-item {
    width: 220px;
}

.search__dropdown-item:not(:last-child) {
    margin-bottom: 20px;
}

.search__item-link {
    display: block;
    padding: 10px 15px;
    border: 2px solid transparent;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    transition: border-color .3s ease;
}

.search__item-link:hover {
    border-color: #9D5CD0;
}

.search__dropdown .simplebar-track.simplebar-vertical {
    width: 2px;
    background-color: #000;
}

.search__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
}

@keyframes dropdownOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dropdownClose {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.simplebar-wrapper {
    z-index: 10;
}

.search .container {
    padding: 0;
}

.search__form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 75px;
    padding-bottom: 20px;
    background: var(--color1);
}

.search__close {}

.search__close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

.search__close::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 25px;
    height: 20px;
    width: 2px;
    background: var(--color6);
    transform: rotate(45deg);
}

.search__close::before {
    content: '';
    position: absolute;
    top: 23px;
    left: 16px;
    height: 2px;
    width: 20px;
    background: var(--color6);
    transform: rotate(45deg);
}

.search__input {
    width: 180px;
    padding: 5px 0;
    margin-right: 20px;
    color: var(--color6);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .85);
}

.search__input::placeholder {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: transparent;
    opacity: .85;
}

.search__button {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.search__button::after {
    position: absolute;
    top: 17px;
    right: 15px;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid var(--color6);
    border-radius: 100px;
}

.search__button::before {
    content: '';
    position: absolute;
    bottom: 14px;
    left: 18px;
    width: 2px;
    height: 7px;
    background-color: var(--color6);
    transform: rotate(45deg);
}

.search__button:active {
    background-color: var(--color7);
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 6.5px;
}

.choices__inner {
    min-height: 38px;
    padding-top: 5.5px;
    border: none;
}

.choices__inner,
.choices__list--single {
    background-color: transparent;
    border-color: transparent;
    padding-right: 14px;
}

.choices__placeholder {
    opacity: 1;
}

.choices[data-type*=select-one]:after {
    border-top-color: transparent;
    width: 6px;
    height: 6px;
    border: 1px solid var(--color6);
    transform: rotate( 45deg);
    border-top-color: transparent;
    border-left-color: transparent;
    top: 17px;
    right: 14px;
    transition: all .2s ease-in-out;
}

.is-open .choices__inner::after {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    content: '';
    height: 103%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.choices[data-type*=select-one].is-open:after {
    border-top-color: var(--color6);
    border-left-color: var(--color6);
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-top: 2.5px;
}

.choices__list--single .choices__item {
    text-align: start;
}

.choices1 .choices__list .choices__item.is-selected,
.choices1 .choices__list.choices__list--dropdown .choices__placeholder {
    display: none;
}

.choices__list--dropdown,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: transparent;
}

.choices__list--dropdown {
    margin-top: 0;
    border-radius: 6px;
    border-color: var(--color4);
}

.choices__item--choice {
    color: var(--color4);
}

.choices__item--choice:not(:last-child) {
    border-bottom: 1px solid var(--color4);
}

.header__close {
    margin-left: -16px;
    margin-bottom: -5px;
    width: 50px;
    height: 50px;
    position: relative;
}

.header__close::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 25px;
    height: 20px;
    width: 2px;
    background: var(--color6);
    transform: rotate(45deg);
}

.header__close::before {
    content: '';
    position: absolute;
    top: 23px;
    left: 16px;
    height: 2px;
    width: 20px;
    background: var(--color6);
    transform: rotate(45deg);
}

.header__nav-popup {
    z-index: 1000;
    left: -101%;
    transform: perspective(600px) translate(0, 0px) rotateY(105deg);
    transition-property: opacity, transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.header__nav-popup.open {
    transform: perspective(600px) translate(101%, 0px) rotateY(0deg);
}

.header__nav-popup.open .header__nav-list {}

.popup__content {
    position: relative;
    width: 100%;
    height: 100%;
}

[class*="choices"] {
    width: 100%;
}

.choices__list {
    width: 100%;
}

.order__body {
    position: relative;
    min-height: 311px;
    padding: 33px 25px 43px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color6);
    pointer-events: none;
}

.order__content {
    height: 100%;
    z-index: 7;
}

.order__image-3 {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/img/order/swiper/1/order-imgX320-1.jpg');
}

.order__image-2 {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/img/order/swiper/2/order-imgX320-2.jpg');
}

.order__image-1 {
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/img/order/swiper/3/order-imgX320-3.jpg');
}

.swiper {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: auto;
}

.order .swiper-slide {
    width: 100% !important;
}

.order__heading {
    margin-left: 2px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
}

.order__text {
    margin-left: 1px;
    margin-bottom: 43px;
    font-size: 12px;
    line-height: 16px;
}

.order__btn {
    order: 10;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    width: 200px;
    height: 40px;
    background: var(--color7);
    border-radius: 100px;
    pointer-events: auto;
}

.heading {
    font-weight: normal;
    font-size: 28px;
}

.about {
    padding-top: 53px;
    padding-bottom: 47px;
}

.about__heading {
    margin-bottom: 17px;
}

.about__text {
    font-size: 14px;
    line-height: 200%;
}

.gallery {
    padding-top: 53px;
    padding-bottom: 43px;
    color: var(--color6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/gallery/background/gallery-backgroundX320.jpg);
}

.gallery__select-description {
    font-weight: 600;
    font-size: 16px;
}

.gallery__left-elem {
    margin-bottom: 40px;
}

.content-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.gallery__left-elem,
.gallery__last {
    width: 100%;
}

.gallery__title {
    margin-bottom: 23px;
}

.gallery__select-description {
    margin-bottom: 12px;
}

.gallery__choice {
    margin-bottom: 10px;
}

.choices1 {
    z-index: 11;
    min-height: 40px;
    border-radius: 6px;
    border: 1px solid var(--color6);
}

.gallery__last {
    position: relative;
}

.gallery__last-content {
    position: static;
    width: 100%;
    left: 0;
    bottom: 0;
}

.gallery__left-elem,
.gallery__swiper {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 40px;
}

.gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
}

.slides-container {
    overflow: hidden;
}

.gallery__navigation {
    display: inline-flex;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gallery__pagination {
    margin-top: 1px;
    margin-right: 14px;
    text-align: center;
    color: var(--color6);
}

.nav-btn {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color3);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.nav-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px / 2);
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    transform-origin: center;
}

.gallery__prev {
    margin-right: 14px;
}

.gallery__next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.gallery__prev::before {
    left: calc(50% - 7px / 2);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.gallery__slide {
    z-index: 10;
    position: relative;
    overflow: hidden;
    background-color: #926B88;
}

.gallery__slide::before {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    top: 3%;
    left: 4%;
    height: 92%;
    width: 90%;
    border: 3px solid transparent;
    transition: background-color .3s ease, border-color .3s ease;
}

.gallery__slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("https://image.flaticon.com/icons/png/512/545/545752.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-clip: content-box;
    transition: opacity .5s ease;
}


/* .active.gallery__slide::after {
    opacity: 1;
} */

.gallery__slide:focus {
    outline: none;
}


/* .gallery__slide:focus::before {
    border-color: #7943A4;
} */


/* .gallery__slide:active::before {
    border-color: #D1A9F0;
    background-color: rgba(194, 131, 243, 0.4);
} */

.gallery__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal {
    height: 310px;
}

.gallery__swiper .swiper-horizontal {
    height: 367px;
}

.gallery__swiper {
    margin-bottom: 10px;
}

.gallery__last-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.gallery__last-link {
    color: var(--color7);
}

body.modal-open {
    overflow: hidden;
}

.gallery__popup {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color2);
    background-color: rgba(0, 0, 0, .6);
    transform: translateY(-301%);
    transition: opacity .5s ease-in-out;
    opacity: .1;
    overflow: scroll;
}

.gallery__popup.active {
    transform: none;
    opacity: 1;
}

.gallery__popup .simplebar-scrollbar::before {
    left: 0;
    right: 0;
    background-color: var(--color14);
    opacity: 1;
    border-radius: 0;
}

.gallery__popup .simplebar-track.simplebar-vertical {
    width: 2px;
    overflow: visible;
}

.gallery__popup .simplebar-track {
    background-color: var(--color6);
    right: 6px;
    top: 15px;
    bottom: 15px;
}

.gallery__popup .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    bottom: -2px;
}

.gallery__popup-close-back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.gallery__popup-picture {
    display: block;
    z-index: 2000;
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.gallery__popup-image {
    z-index: 2000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
}

.gallery__popup-body {
    position: relative;
    margin: 15px 0;
    background: var(--color6);
}

.gallery__popup-painter {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.gallery__popup-paint {
    margin: 0;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.gallery__popup-years {
    font-size: 12px;
    line-height: 16px;
    color: var(--color15);
}

.gallery__popup-text {
    font-size: 16px;
    line-height: 22px;
}

.gallery__popup-content {
    padding: 20px;
}

.gallery__popup-close {
    z-index: 3000;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    transition: all .1 ease-in-out;
}

.gallery__popup-close:active {
    background: rgba(0, 0, 0, .5);
}

.gallery__popup-close:active:before,
.gallery__popup-close:active:after {
    background: var(--color6);
}

.gallery__popup-close::before {
    position: absolute;
    content: '';
    top: 24px;
    left: 14px;
    height: 1px;
    width: 21px;
    background: var(--color1);
    transform: rotate(45deg);
    transition: all .1 ease-in-out;
}

.gallery__popup-close::after {
    position: absolute;
    content: '';
    top: 14px;
    left: 24px;
    width: 1px;
    height: 21px;
    background: var(--color1);
    transform: rotate(45deg);
    transition: all .1 ease-in-out;
}

.gallery__popup-heading {
    margin-bottom: 12px;
}

.catalog {
    padding-top: 53px;
    padding-bottom: 21px;
}

.catalog__tittle {
    margin-bottom: 11px;
}

.catalog__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -4px;
    margin-right: -4px;
    margin-bottom: 14px;
}

[class*="catalog__link"] {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    border-radius: 100px;
}

.catalog__link1 {
    background-image: url("/img/catalog/countryIcon/catalog-country-1.jpg");
    background-position: left 3.5px center;
}

.catalog__link2 {
    background-image: url("/img/catalog/countryIcon/catalog-country-2.jpg");
    background-position: left 3.7px center;
}

.catalog__link3 {
    background-image: url("/img/catalog/countryIcon/catalog-country-3.jpg");
}

.catalog__link4 {
    background-image: url("/img/catalog/countryIcon/catalog-country-4.jpg");
}

.catalog__link5 {
    background-image: url("/img/catalog/countryIcon/catalog-country-5.jpg");
}

.catalog__link-is-active {
    outline: 2px solid var(--color11);
}

.ui-accordion .ui-accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 74px;
    position: relative;
    margin: 0px 0 -1px 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
}

.ui-icon {
    position: absolute;
    right: 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-radius: 0px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    color: inherit;
}

.ui-accordion-header {
    border-top: 1px solid var(--color5);
    border-bottom: 1px solid var(--color5);
}

.ui-accordion-header-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
    background-image: none;
}

.ui-accordion-header-icon {
    top: 26px;
    width: 30px;
    height: 30px;
    background: var(--color12);
    border-radius: 100px;
}

.ui-accordion-header-icon::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 11px;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
    transform: rotate(45deg);
}

.ui-state-active {
    border-color: var(--color11);
}

.ui-state-active .ui-accordion-header-icon {
    background: var(--color8);
    border: 2px solid var(--color7);
}

.ui-state-active .ui-accordion-header-icon::before {
    left: 9px;
    border: none;
    border-top: 1px solid var(--color1);
    border-left: 1px solid var(--color1);
}

.ui-accordion .ui-accordion-content {
    padding: 0;
    padding-top: 21px;
    padding-bottom: 19px;
}

.ui-widget-content {
    border: none;
    font-size: 16px;
    line-height: 32px;
}

.accordion__link {
    display: block;
    margin-bottom: .53px;
}

.accordion__item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__image {
    position: relative;
    margin-right: 23px;
    flex-shrink: 0;
    width: 92px;
    height: 130px;
    border: 2px solid var(--color13);
}

.accordion__image::after {
    position: absolute;
    content: '';
    top: 4px;
    left: 4px;
    width: 80px;
    height: 118px;
    background: var(--color13);
}

.accordion__tittle {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}

.accordion__description {
    font-size: 16px;
    line-height: 22px
}

.accordion__content-link,
.painter__link {
    color: var(--color7);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.ui-widget-content .accordion__content-link {
    color: var(--color7);
}

.catalog__content {
    display: none;
}

.catalog__content-is-active {
    display: block;
}

.painter {
    padding-top: 51px;
}

.painter__img {
    width: 100%;
    height: 100%;
}

.painter__picture {
    display: block;
    width: 100%;
    height: 181px;
    margin-bottom: 21px;
}

.painter__tittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 14px;
}

.painter__description {
    padding-right: 3px;
    font-size: 16px;
    line-height: 33px;
}

.painter__lifetime {
    display: block;
    color: var(--color4);
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6.5px;
}

.painter {
    display: none;
}

.painter-is-active {
    display: block;
}

.ui-widget-content .accordion__link-is-active {
    color: var(--color7);
}

.painter__link {
    margin-top: 10px;
}

.events {
    padding-top: 30px;
    padding-bottom: 40px;
}

.events__tittle {
    margin-bottom: 15px;
}

.events__body {
    position: relative;
}

.events__img {
    width: 100%;
    height: 100%;
}

.events__picture {
    display: block;
    width: 100%;
    height: 200px;
}

.events .swiper-slide {}

.events .swiper {
    position: relative;
    height: auto;
}

.events__content {
    min-height: 483px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 28px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--color5);
    border-top: none;
    margin-bottom: 40px;
}

.events__slide-description {
    align-self: flex-end;
    margin-right: -20px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: var(--color4);
}

.events__slide-tittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-right: -12px;
    margin-bottom: 36px;
}

.swiper-slide1 .events__slide-tittle,
.swiper-slide2 .events__slide-tittle,
.swiper-slide3 .events__slide-tittle,
.swiper-slide4 .events__slide-tittle {
    margin-bottom: 8px;
}

.events__slide-text {
    font-size: 16px;
    line-height: 33px;
    margin-right: 5px;
    margin-bottom: 25px;
}

.events__link {
    color: var(--color7);
    order: 10;
    margin-top: auto;
    border-bottom: 1px solid var(--color7);
    padding-bottom: 4px;
    padding-right: 6px;
}

.swiper-pagination-bullet-active {
    background-color: var(--color2);
}

.swiper-pagination-bullet {
    background-color: var(--color3);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 7px;
}

.books {
    padding: 54px 0 0 0;
    height: 1000px;
    color: var(--color6);
    background: no-repeat center/cover url('/img/books/background/books-backgroundX320.jpg')
}

.books__tittle {
    margin-bottom: 10px;
}

.checkboxer__tittle {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
}

.checkboxer {
    height: 500px;
    display: block;
    position: relative;
}

.checkboxer__tittle {}

.checkboxer__dropdown {
    position: absolute;
    top: 30px;
    width: 100%;
    overflow: hidden;
    height: 0;
}

.checkboxer__dropdown-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
    transform: translateY(-101%);
}

.open .checkboxer__dropdown-inner {
    transform: none;
}

.selected {
    height: 20px;
}

.selected .checked-item {
    order: 10;
    margin-top: auto;
}

.selected .checkboxer__dropdown-inner {
    transform: translateY(-93%);
}

.checkboxer__checkbox {
    display: none;
}

.checkboxer__text {
    position: relative;
    padding-left: 20px;
}

.checkboxer__check {
    position: absolute;
    left: 0;
    top: 5px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color6);
}

.checkboxer__check::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 2.8px;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: var(--color14);
    transform: scale(0);
}

.checked .checkboxer__check::after {
    transform: none;
}

.checked .checkboxer__check {
    border-color: var(--color14);
}

.checkboxer__item {
    position: relative;
    width: 100%;
}

.checkboxer__item::after {
    position: absolute;
    top: 8px;
    right: 0;
    content: '';
    width: 16px;
    height: 1px;
    background: var(--color14);
    transform: rotate(45deg);
}

.checkboxer__item::before {
    transform: rotate(135deg);
    position: absolute;
    top: 8px;
    right: 0;
    content: '';
    width: 16px;
    height: 1px;
    background: var(--color14);
}

.accordion-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.questions {
    list-style: none;
    padding-left: 0;
}

.books__js-accordion .heading {
    font-size: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    margin-top: 0;
    margin-bottom: 20px;
}

.test-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.test-item {
    width: calc(100% / 3);
}

.checkbox-wrap {
    display: inline-block;
}

.visual-check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
}

.visual-check::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: lightgray;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.checkbox:checked~.visual-check::before {
    opacity: 1;
}

.checkbox:checked~.check-text {
    color: green;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

@media (max-width: 580px) {
    .questions {
        width: 100%;
    }
    .question:first-child {
        border-top: 1px solid lightgray;
    }
    .question {
        margin-top: -1px;
        margin-bottom: 20px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid lightgray;
        transition: border-color 0.3s ease;
    }
    .books__js-accordion .heading {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding: 13px 40px 13px 0;
        font-size: 16px;
        cursor: pointer;
        transition: color 0.3s ease;
    }
    .question:first-child:hover,
    .question:hover,
    .question:focus-within {
        border-color: orange;
    }
    .books__js-accordion .heading::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        width: 8px;
        height: 8px;
        border-right: 1px solid;
        border-bottom: 1px solid;
        transform: translateY(calc(-50% - 0.5px)) rotate( 45deg);
        transition: transform 0.3s, 0.6s ease;
    }
    .books__js-accordion .heading:hover,
    .books__js-accordion .heading:focus {
        color: orange;
        outline: none;
    }
    .ui-accordion-header-active.heading::after {
        transform: translateY(-50%) rotate(225deg);
    }
}