@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSansBold'), url('/fonts/OpenSansBold.woff') format('woff'), url('/fonts/OpenSansBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSansItalic'), url('/fonts/OpenSansItalic.woff') format('woff'), url('/fonts/OpenSansItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSansRegular'), url('/fonts/OpenSansRegular.woff') format('woff'), url('/fonts/OpenSansRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSansSemiBold'), url('/fonts/OpenSansSemiBold.woff') format('woff'), url('/fonts/OpenSansSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

:root {
  --color1: #000;
  --color2: #333;
  --color3: #666;
  --color4: #999;
  --color5: #cacaca;
  --color6: #fff;
  --color7: #9D5CD0;
  --color8: #D1A9F0;
  --color9: rgba(157, 92, 208, 0.5);
  --color10: #D11616;
  --color11: #7943A4;
  --color12: #ECECEC;
  --color13: #b7b7b7;
  --color14: #C283F3;
  --color15: #969696;
  --color16: #161616;
  --color17: #9643A4;
  --font-family: 'Open Sans', sans-serif;
  --outline: 2px solid #9D5CD0;
  --container-max-width: 1200px;
  --container-padding: 15px;
  --columns: 12;
  --gutter: 30px;
  --swiper-navigation-size: 40px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-horizontal-gap: 7.5px;
}

html {
  animation-timing-function: ease-in;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: var(--font-family);
}

body {
  background-color: var(--color6);
  color: var(--color2);
  animation-timing-function: ease-in;
}

h1, h2, h3, p, a, ul, li, span {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.content {
  height: 100%;
  text-align: center;
}

.header {
  height: 45px;
  color: var(--color6);
  background: var(--color1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-right: 0;
  padding-left: 0;
}

.container {}

.header__button {
  position: relative;
  width: 50px;
  height: 50px;
}

.header__button-image {
  position: absolute;
  width: 25px;
  height: 1.9px;
  top: 16px;
  left: 15px;
  background-color: var(--color6);
}

.header__button-image::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 8px;
  left: 0;
  background-color: var(--color6);
}

.header__button-image::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  top: 16px;
  left: 0;
  background-color: var(--color6);
}

.header__nav {
  position: relative;
}

.header__nav-body {
  box-sizing: border-box;
  width: 100%;
  background: var(--color1);
}

.header__nav-container {
  display: flex;
  flex-direction: column;
  min-height: 360px;
}

.header__nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header__nav-item {
  background: var(--color1);
  height: 30px;
}

.header__nav-link {
  vertical-align: middle;
  height: 100%;
  font-size: 18px;
  color: var(--color6);
}

.header__signin {
  order: 100;
  margin-top: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid var(--color7);
}

.header__signin:active {
  border: 3px solid var(--color8);
  background-color: var(--color11);
}

.header__signin-text {
  padding-left: 18px;
  color: var(--color6);
  font-size: 16px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: top 2px left 0px;
  background-image: url(/img/header/header-enter.svg);
}

.logo {
  margin-bottom: -3px;
}

.logo__image {
  width: 98px;
  height: 22px;
}

.search {
  position: relative;
}

.search__btn {
  width: 50px;
  height: 50px;
}

.search__btn::after {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid var(--color6);
  border-radius: 100px;
}

.search__btn::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 18px;
  width: 2px;
  height: 7px;
  background-color: var(--color6);
  transform: rotate(45deg);
}

.popup {
  overflow: scroll;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

body.popup-open {
  overflow: hidden;
}

.search__popup {
  right: -101%;
  transition-property: opacity, transform;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: auto;
}

.search__popup.open {
  transform: translate(-101%, 0);
}

.search__popup.open .search__body {
  transform: perspective(600px) translate(0, 0px) rotateY(0deg);
}

.search__body {
  width: 100%;
  transform: perspective(600px) translate(0, 0px) rotateY(-105deg);
  transition-property: opacity, transform;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.search__list {
  display: none;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
}

.search__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--color1);
  margin-bottom: 2px;
}

.search__item-btn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding-left: 20px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  color: var(--color6);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

/* .search__item-btn:hover,
  .search__item-btn:focus {
      color: var(--color7);
  } */

.search__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: cente;
}

.search__item-btn.is-active {
  color: var(--color14);
}

.search__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.search__dropdown {
  z-index: 100;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.search__dropdown-wrap {
  width: 230px;
  height: 220px;
}

.search__dropdown.is-active {
  position: absolute;
  top: 50px;
}

.search__dropdown>ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.search__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.search__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.search__drop-list {
  list-style: none;
  padding-left: 0;
}

.search__dropdown-item {
  width: 220px;
}

.search__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.search__item-link {
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  transition: border-color .3s ease;
}

.search__item-link:hover {
  border-color: #9D5CD0;
}

.search__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.search__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.simplebar-wrapper {
  z-index: 10;
}

.search .container {
  padding: 0;
}

.search__form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 75px;
  padding-bottom: 20px;
  background: var(--color1);
}

.search__close {}

.search__close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}

.search__close::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 25px;
  height: 20px;
  width: 2px;
  background: var(--color6);
  transform: rotate(45deg);
}

.search__close::before {
  content: '';
  position: absolute;
  top: 23px;
  left: 16px;
  height: 2px;
  width: 20px;
  background: var(--color6);
  transform: rotate(45deg);
}

.search__input {
  width: 180px;
  padding: 5px 0;
  margin-right: 20px;
  color: var(--color6);
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, .85);
}

.search__input::placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: transparent;
  opacity: .85;
}

.search__button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: -10px;
  margin-bottom: -10px;
}

.search__button::after {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid var(--color6);
  border-radius: 100px;
}

.search__button::before {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 18px;
  width: 2px;
  height: 7px;
  background-color: var(--color6);
  transform: rotate(45deg);
}

.search__button:active {
  background-color: var(--color7);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 6.5px;
}

.choices__inner {
  min-height: 38px;
  padding-top: 5.5px;
  border: none;
}

.choices__inner, .choices__list--single {
  background-color: transparent;
  border-color: transparent;
  padding-right: 14px;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one]:after {
  border-top-color: transparent;
  width: 6px;
  height: 6px;
  border: 1px solid var(--color6);
  transform: rotate( 45deg);
  border-top-color: transparent;
  border-left-color: transparent;
  top: 17px;
  right: 14px;
  transition: all .2s ease-in-out;
}

.is-open .choices__inner::after {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  content: '';
  height: 103%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.choices[data-type*=select-one].is-open:after {
  border-top-color: var(--color6);
  border-left-color: var(--color6);
  border-bottom-color: transparent;
  border-right-color: transparent;
  margin-top: 2.5px;
}

.choices__list--single .choices__item {
  text-align: start;
}

.choices1 .choices__list .choices__item.is-selected, .choices1 .choices__list.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown, .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
}

.choices__list--dropdown {
  margin-top: 0;
  border-radius: 6px;
  border-color: var(--color4);
  background: var(--color1)
}

.choices__item--choice {
  color: var(--color4);
}

.choices__item--choice:active {
  color: var(--color6);
  background: rgba(255, 255, 255, 0.2);
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid var(--color4);
}

.header__close {
  margin-left: -16px;
  margin-bottom: -5px;
  width: 50px;
  height: 50px;
  position: relative;
}

.header__close::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 25px;
  height: 20px;
  width: 2px;
  background: var(--color6);
  transform: rotate(45deg);
}

.header__close::before {
  content: '';
  position: absolute;
  top: 23px;
  left: 16px;
  height: 2px;
  width: 20px;
  background: var(--color6);
  transform: rotate(45deg);
}

.header__nav-popup {
  z-index: 1000;
  left: -101%;
  transform: perspective(600px) translate(0, 0px) rotateY(105deg);
  transition-property: opacity, transform;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.header__nav-popup.open {
  transform: perspective(600px) translate(101%, 0px) rotateY(0deg);
}

.header__nav-popup.open .header__nav-list {}

.popup__content {
  position: relative;
  width: 100%;
  height: 100%;
}

[class*="choices"] {
  width: 100%;
}

.choices__list {
  width: 100%;
}

.order__body {
  position: relative;
  padding: 33px 25px 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color6);
  pointer-events: none;
}

.order__content {
  display: flex;
  flex-direction: column;
  min-height: 232px;
  z-index: 7;
}

.order__image-3 {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/order/swiper/3/order-imgX320-3.jpg');
}

.order__image-2 {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/order/swiper/2/order-imgX320-2.jpg');
}

.order__image-1 {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/order/swiper/1/order-imgX320-1.jpg');
}

[class*="order__image"] {
  background-color: var(--color3);
}

.swiper {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: auto;
}

.order .swiper-slide {
  width: 100% !important;
}

.order__heading {
  margin-left: 2px;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
}

.order__text {
  margin-left: 1px;
  margin-bottom: 41px;
  font-size: 12px;
  line-height: 16.5px;
}

.order__btn {
  order: 10;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  width: 200px;
  height: 40px;
  background: var(--color7);
  border-radius: 100px;
  pointer-events: auto;
  border: 3px solid transparent;
}

.order__btn:active {
  border: 3px solid var(--color8);
  background: var(--color11);
}

.heading {
  font-weight: normal;
  font-size: 28px;
}

.about {
  padding-top: 54px;
  padding-bottom: 49px;
}

.about__heading {
  margin-bottom: 15px;
}

.about__text {
  font-size: 14px;
  line-height: 28px;
}

.gallery {
  padding-top: 54px;
  padding-bottom: 43px;
  color: var(--color6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/gallery/background/gallery-backgroundX320.jpg);
}

.gallery__select-description {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 11.5px;
}

.gallery__left-elem {
  margin-bottom: 40px;
}

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery__left-elem, .gallery__last {
  width: 100%;
}

.gallery__title {
  margin-bottom: 23px;
}

.gallery__choice {
  margin-bottom: 10px;
}

.choices1 {
  z-index: 11;
  min-height: 39px;
  border-radius: 6px;
  border: 1px solid var(--color6);
}

.gallery__last {
  position: relative;
}

.gallery__last-content {
  position: static;
  width: 100%;
  left: 0;
  bottom: 0;
}

.gallery__left-elem, .gallery__swiper {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 40px;
}

.gallery__swiper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 11px;
}

.slides-container {
  overflow: hidden;
}

.gallery__navigation {
  display: inline-flex;
  align-items: center;
  align-self: center;
  margin-top: 11px;
  margin-bottom: 10px;
}

.gallery__pagination {
  margin-top: 1px;
  margin-right: 14px;
  text-align: center;
  color: var(--color6);
}

.gallery .nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: var(--color3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery .nav-btn:active {
  border: 2px solid var(--color1);
  background: var(--color11);
}

.gallery__prev {
  margin-right: 13px;
}

.gallery__next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.gallery__prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery__slide {
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.gallery__slide::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  top: 3%;
  left: 4%;
  height: 92%;
  width: 90%;
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://image.flaticon.com/icons/png/512/545/545752.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

/* .active.gallery__slide::after {
    opacity: 1;
} */

.gallery__slide:focus {
  outline: none;
}

/* .gallery__slide:focus::before {
    border-color: #7943A4;
} */

/* .gallery__slide:active::before {
    border-color: #D1A9F0;
    background-color: rgba(194, 131, 243, 0.4);
} */

.gallery__slide picture {
  padding: 0;
}

.gallery__image {
  margin: -1px 1px 6px -2px;
  width: 104%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal {
  height: 100%;
}

.gallery__swiper .swiper-horizontal {
  height: auto;
}

.gallery__last-content {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.gallery__last-link {
  color: var(--color7);
}

.gallery .swiper-pagination-current {
  margin: 0 5px 0 0;
}

.gallery .swiper-pagination-total {
  margin: 0 0 0 5px;
}

body.modal-open {
  overflow: hidden;
}

.gallery__popup {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color2);
  background-color: rgba(0, 0, 0, .6);
  transform: translateY(-301%);
  transition: opacity .5s ease-in-out;
  opacity: .1;
  overflow: scroll;
}

.gallery__popup.active {
  transform: none;
  opacity: 1;
}

.gallery__popup .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  background-color: var(--color14);
  opacity: 1;
  border-radius: 0;
}

.gallery__popup .simplebar-track.simplebar-vertical {
  width: 2px;
  overflow: visible;
}

.gallery__popup .simplebar-track {
  background-color: var(--color6);
  right: 6px;
  top: 15px;
  bottom: 15px;
}

.gallery__popup .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: -2px;
}

.gallery__popup-close-back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.gallery__popup-picture {
  display: block;
  z-index: 2000;
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.gallery__popup-image {
  z-index: 2000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
}

.gallery__popup-body {
  position: relative;
  margin: 15px 0;
  background: var(--color6);
}

.gallery__popup-painter {
  display: block;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.gallery__popup-paint {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.gallery__popup-years {
  font-size: 12px;
  line-height: 16px;
  color: var(--color15);
}

.gallery__popup-text {
  font-size: 16px;
  line-height: 22px;
}

.gallery__popup-content {
  padding: 20px;
}

.gallery__popup-close {
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: all .1s ease-in-out;
}

.gallery__popup-close:active {
  background: rgba(0, 0, 0, .5);
}

.gallery__popup-close:active:before, .gallery__popup-close:active:after {
  background: var(--color6);
}

.gallery__popup-close::before {
  position: absolute;
  content: '';
  top: 24px;
  left: 14px;
  height: 1px;
  width: 21px;
  background: var(--color1);
  transform: rotate(45deg);
  transition: all .1s ease-in-out;
}

.gallery__popup-close::after {
  position: absolute;
  content: '';
  top: 14px;
  left: 24px;
  width: 1px;
  height: 21px;
  background: var(--color1);
  transform: rotate(45deg);
  transition: all .1s ease-in-out;
}

.gallery__popup-heading {
  margin-bottom: 12px;
}

.catalog {
  padding-top: 52px;
  padding-bottom: 21px;
}

.catalog__tittle {
  margin-bottom: 10px;
}

.catalog__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 16px;
}

[class*="catalog__link"] {
  width: 32px;
  height: 32px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 34px 32px;
  background-position: center;
  border-radius: 100%;
  border: 2px solid transparent;
}

[class*="catalog__link"]:active {
  border: 2px solid var(--color11);
}

.catalog__link1 {
  background-image: url("/img/catalog/countryIcon/catalog-country-1.jpg");
}

.catalog__link2 {
  background-image: url("/img/catalog/countryIcon/catalog-country-2.jpg");
}

.catalog__link3 {
  background-image: url("/img/catalog/countryIcon/catalog-country-3.jpg");
}

.catalog__link4 {
  background-image: url("/img/catalog/countryIcon/catalog-country-4.jpg");
}

.catalog__link5 {
  background-image: url("/img/catalog/countryIcon/catalog-country-5.jpg");
}

.catalog__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.catalog__nav-item-active {
  border: 2px solid var(--color11);
  animation-name: outs;
  animation-duration: .5s;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 74px;
  position: relative;
  margin: 0px 0 -1px 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
}

.ui-icon {
  position: absolute;
  right: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  color: inherit;
}

.ui-accordion-header {
  border-top: 1px solid var(--color4);
  border-bottom: 1px solid var(--color4);
}

.ui-accordion-header-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background-image: none;
}

.ui-accordion-header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 21px;
  width: 30px;
  height: 30px;
  background: var(--color12);
  border-radius: 100px;
}

.ui-accordion-header-icon::before {
  content: '';
  width: 7px;
  height: 7px;
  border-bottom: 1px solid var(--color1);
  border-right: 1px solid var(--color1);
  transform: rotate(45deg);
}

.ui-state-active {
  border-color: var(--color11);
}

.ui-state-active .ui-accordion-header-icon {
  background: var(--color8);
  border: 2px solid var(--color7);
}

.ui-state-active .ui-accordion-header-icon::before {
  border: none;
  border-top: 1px solid var(--color1);
  border-left: 1px solid var(--color1);
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-top: 21px;
  padding-bottom: 19px;
}

.ui-widget-content {
  border: none;
  font-size: 16px;
  line-height: 32px;
}

.accordion__link {
  display: block;
  margin-bottom: .53px;
  color: inherit;
}

.accordion__item-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__image {
  position: relative;
  margin-right: 23px;
  flex-shrink: 0;
  width: 92px;
  height: 130px;
  border: 2px solid var(--color13);
}

.accordion__image::after {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 80px;
  height: 118px;
  background: var(--color13);
}

.accordion__tittle {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.accordion__description {
  font-size: 16px;
  line-height: 22px
}

.accordion__content-link, .painter__link {
  color: var(--color7);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0;
}

.ui-widget-content .accordion__content-link {
  color: var(--color7);
}

.catalog__content {
  display: none;
}

.catalog__content-is-active.catalog__content {
  display: block;
  animation-name: fadeIn;
  animation-duration: .8s;
}

.catalog__content-text {
  display: none;
}

.painter {
  padding-top: 51px;
}

.painter__img {
  width: 100%;
  height: 100%;
}

.painter__picture {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 17px;
}

.painter__tittle {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 14px;
}

.painter__description {
  padding-right: 3px;
  font-size: 16px;
  line-height: 33px;
}

.painter__lifetime {
  display: block;
  color: var(--color4);
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6.5px;
}

.painter {
  display: none;
}

.painter-is-active {
  display: block;
}

.ui-widget-content .accordion__link-is-active {
  color: var(--color7);
}

.painter__link {
  margin-top: 10px;
}

.events {
  padding-top: 30px;
  padding-bottom: 32px;
}

.events__tittle {
  margin-bottom: 15px;
}

.events__body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.events__img {
  width: 100%;
}

.events .swiper {
  position: relative;
  height: auto;
}

.events .slider {
  margin-left: -1px;
  margin-right: -1px;
  overflow: hidden;
}

.events .slides-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.events .events__slide {
  width: calc(100% / 3 - 20px);
  min-height: 684px;
  height: auto;
  margin-bottom: 19px;
  margin-right: 20px;
}

.events .is-hidden {
  display: none;
}

.events .wrapper {
  align-self: center;
  width: 100%;
  transform: translate(1.5px, 0);
}

.events .slides-wrap {
  flex-wrap: nowrap;
}

.events .slide {
  width: 100%;
  margin-right: 0;
}

.events .btn {
  display: none;
}

.events__slide-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

.events__content {
  height: 100%;
  padding-right: 29px;
  padding-left: 27px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--color5);
  margin-top: -1px;
  margin-right: 3px;
}

.events__picture {
  margin: 0 -28px 12px -28px;
  width: calc(100% + 58px);
}

.events__slide-description {
  align-self: flex-end;
  margin-right: -20px;
  margin-bottom: 1px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: var(--color4);
}

.events__slide-tittle {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-top: 4px;
  margin-right: -12px;
  margin-bottom: 36px;
}

.swiper-slide1 .events__slide-tittle, .swiper-slide2 .events__slide-tittle, .swiper-slide3 .events__slide-tittle, .swiper-slide4 .events__slide-tittle {
  margin-bottom: 8px;
}

.events__slide-text {
  font-size: 16px;
  line-height: 33px;
  margin-right: 5px;
  margin-bottom: 25px;
}

.events__link {
  color: var(--color7);
  order: 10;
  margin-top: auto;
  border-bottom: 1px solid var(--color7);
  padding-bottom: 4px;
  padding-right: 6px;
}

.events__link:active {
  color: var(--color2);
  border-color: var(--color2);
}

.swiper-pagination-bullet-active {
  background-color: var(--color2);
}

.swiper-pagination-bullet {
  background-color: var(--color3);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  display: flex;
  justify-content: center;
}

.events__pagination {
  margin: 0 0 0 -2px;
}

.books {
  padding: 54px 0 50px 0;
  color: var(--color6);
  background: no-repeat center/cover url('/img/books/background/books-backgroundX320.jpg')
}

.accordion-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.questions {
  list-style: none;
  padding-left: 0;
}

.js-accordion__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.books .ui-widget-content {
  background: transparent;
}

.books .ui-accordion .ui-accordion-content {
  padding: 0;
}

.books .ui-accordion .ui-accordion-header {
  min-height: 38px;
  font-size: 16.6px;
  margin-left: -1px;
  padding-bottom: 2px;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
}

.test-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.test-item {
  width: calc(100% / 3);
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 39px;
  background: transparent;
}

.js-accordion-wrap .checkbox-wrap {
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.js-accordion__content .checkbox-wrap {
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-bottom: none;
}

.visual-check {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 13.5px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color6);
}

.visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color6);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.checkbox:checked~.visual-check::before {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.questions {
  width: 100%;
}

.question {
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: border-color 0.3s ease;
}

.js-accordion-wrap .heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.js-accordion-wrap .heading::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 2px;
  border-top-color: transparent;
  width: 6px;
  height: 6px;
  border: 1px solid var(--color6);
  transform: rotate( 45deg);
  border-top-color: transparent;
  border-left-color: transparent;
  transition: all .4s ease-in-out;
}

.ui-accordion-header-active.heading::after {
  top: 19px;
  border: 1px solid var(--color6);
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.accordion-wrap .checkbox-wrap {
  position: relative;
}

.accordion-wrap .checkbox-wrap::before {
  content: '';
  right: -2px;
  top: 19px;
  position: absolute;
  width: 16px;
  height: 1px;
  background: var(--color14);
  transform: rotate(45deg);
}

.accordion-wrap .checkbox-wrap::after {
  content: '';
  right: 5.5px;
  top: 12px;
  position: absolute;
  height: 16px;
  width: 1px;
  background: var(--color14);
  transform: rotate(45deg);
}

.js-accordion .checkbox-wrap::before, .js-accordion .checkbox-wrap::after {
  content: none;
}

.checkbox:checked~.visual-check {
  border-color: var(--color14);
}

.checkbox:checked~.visual-check::before {
  background: var(--color14);
}

.checkbox:checked~.check-text {
  color: var(--color14);
}

.check-text {
  color: var(--color6);
  padding-left: 24px;
}

.books .js-accordion-heading {
  border: none;
  color: var(--color6);
}

.books__tittle {
  margin-bottom: 14.5px;
}

.books .accordion-wrap {
  margin-bottom: 19px;
}

.books__filterized {
  margin-left: -1px;
  margin-bottom: 7px;
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.books__filter {
  display: flex;
  align-items: center;
  width: 95.5%;
  height: 39.5px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 6px;
  padding: 0 9px;
  margin-bottom: 50px;
}

[class*="filter__label"] {
  height: 100%;
}

.filter__label1 {
  width: 113px;
}

.filter__input {
  margin-left: 6px;
  margin-right: 6px;
  color: var(--color6);
  padding: 0 10px;
  width: 73px;
  height: 100%;
  background: rgba(157, 92, 208, 0.5);
}

.filter__input:active {
  background: var(--color11);
}

.filter__input::placeholder {
  color: var(--color6);
}

.filter__input:focus-within {
  background: var(--color7)
}

.test-navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.test-pagination {
  margin-right: 10px;
  text-align: center;
  color: #373850;
}

.books .nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: #527590;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.books .nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.test-prev {
  margin-right: 10px;
}

.test-next::before {
  left: calc(50% - 4px);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.test-prev::before {
  left: calc(50% - 3px);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.books .slider {
  overflow: hidden;
}

.books .slides-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -30px;
}

.books .slide {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: calc(100%/2 - 30px);
}

.books .slide:not(:last-child) {
  margin-bottom: 50px;
}

.books__picture {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 7px;
}

.books__image {
  width: 100%;
}

.books__name {
  font-size: 12px;
  line-height: 16px;
}

.books__content {
  display: block;
  white-space: nowrap;
  max-width: 126px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 3px;
}

.books__cost {
  display: block;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
}

.books__item {
  display: flex;
  flex-direction: column;
  min-height: 101px;
}

.books__button {
  order: 20;
  margin-top: auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  width: 130px;
  height: 40px;
  padding-bottom: 4px;
  color: var(--color6);
  border: 2px solid var(--color7);
  border-radius: 100px;
}

.books__button:active {
  border: 3px solid var(--color8);
  background: var(--color11);
}

.projects {
  padding: 54px 0 50px;
}

.projects__tittle {
  margin-bottom: 16px;
}

.projects__text {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
}

[class*="tooltip"] {
  display: inline-block;
  margin: 0 0 -3px 1.5px;
  cursor: pointer;
}

.tooltip__chrest {
  display: none;
}

[class*="tooltip"]:active .tooltip__background, [class*="tooltip"]:active .tooltip__border {
  fill: var(--color7);
}

[class*="tooltip"]:active .tooltip__center {
  display: none;
}

[class*="tooltip"]:active .tooltip__chrest {
  display: inline-block;
}

.projects .tippy-box {
  width: 240px;
  text-align: center;
  border-radius: 0;
  background: var(--color5);
}

.projects .tippy-box .tippy-content {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  padding: 7px 10px;
}

.projects__link {
  font-weight: 600;
  color: var(--color7);
  line-height: 28px;
  border-bottom: 1px solid transparent;
}

.projects__link:active {
  color: var(--coolor11);
  border-bottom: 1px solid var(--color11);
}

.projects__description {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 17px;
}

.projects__swiper {
  position: relative;
  height: 65px;
}

#swiper2 {
  margin-top: -1px;
  position: absolute;
  top: 0;
}

.projects__img-colorized {
  display: none;
}

.projects__navigation {
  position: relative;
}

.projects [class*="swiper-button"] {
  top: 37px;
  width: 30px;
  height: 30px;
  background: var(--color5);
  border-radius: 100px;
  border: 2px solid transparent;
  color: transparent;
}

.projects [class*="swiper-button"]:active {
  background: var(--color8);
  border: 2px solid var(--color7);
}

.projects [class*="swiper-button"]::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid var(--color1);
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}

.projects .swiper-button-next::after {
  transform: rotate(-135deg);
  right: 10px;
}

.projects .swiper-button-prev {
  left: 0;
}

.projects .swiper-button-next {
  right: 0;
}

.projects .swiper-button-prev::after {
  left: 11px;
}

.projects [class*="swiper__link"] {
  margin-top: -1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 64.5px;
  border: 1px solid var(--color5);
}

[class*="projects__img"] {
  /* position:absolute;
  top: 0;
  left: 0; */
  height: 26px;
  width: 105px;
}

.projects .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
}

[class*="swiper__link"]:active .projects__img {
  display: none;
}

[class*="swiper__link"]:active .projects__img-colorized {
  display: block;
}

.second-img {
  width: 141px;
  height: 25px;
}

.third-img {
  width: 117px;
  height: 27px;
}

.fourth-img {
  width: 53px;
  height: 37px;
}

.fifth-img {
  width: 75px;
  height: 37px;
}

.sixth-img {
  width: 109px;
  height: 30px;
}

.seventh-img {
  width: 124px;
  height: 30px;
}

.eight-img {
  width: 80px;
  height: 35px;
}

.ninth-img {
  width: 99px;
  height: 27px;
}

.contacts {
  padding: 3px 0 0;
}

.contacts__tittle {
  margin-bottom: 15px;
}

.address {
  margin-bottom: 15px;
}

.address__object {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: -1px;
}

.address__description {
  font-size: 14px;
  line-height: 18px;
}

#map {
  width: calc(100% + 30px);
  height: 320px;
  display: inline-block;
  margin: 0 -15px 18px -15px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.form__tittle {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 17px;
}

.form__input {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  padding: 0 24px;
  border: 1px solid var(--color2);
  border-radius: 100px;
}

.form__input::placeholder {
  color: var(--color4);
  font-size: 16px;
  line-height: 32px;
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 40px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: var(--color7);
  border: 2px solid var(--color7);
  border-radius: 100px;
}

.form__btn:active {
  color: var(--color6);
  border: 3px solid var(--color8);
  background: var(--color11);
}

.form {
  margin-bottom: 20px;
}

.messengers__tittle {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 7px;
}

.messengers__list {
  display: block;
  margin-bottom: 27px;
}

.messengers__item:not(:last-child) {
  margin-right: 16px;
}

[class*="messengers__link"] {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  border-radius: 100px;
  border: 1px solid transparent;
}

[class*="messengers__link"]:active {
  border: 1px solid var(--color17);
}

.messengers__link1 {
  background-image: url('/img/contacts/whatsapp.png');
}

.messengers__link2 {
  background-image: url('/img/contacts/telegram.png');
}

.footer {
  background: var(--color16);
  padding: 20.5px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social {
  margin-bottom: 17px;
}

.social__item:not(:last-child) {
  margin-right: 26px;
}

.social__icon {
  width: 50px;
  height: 50px;
}

.social__icon:active .social__icon-color {
  fill: var(--color7);
}

.footer__logo {
  width: 100px;
  height: 22px;
}

.form__label {
  position: relative;
}

.js-validate-error-label {
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: -24px;
  left: 24px;
  width: 250px;
}

@media (min-width:600px) {
  .container {
    padding: 0 50px 0 50px;
  }
  .header {
    height: 100px;
  }
  .header__container {
    padding: 0 35px 0 43px;
  }
  .logo__image {
    width: 188px;
    height: 42px;
  }
  .header__button-image {
    width: 36px;
    height: 3px;
    top: 12px;
    left: 7px;
  }
  .header__button-image::after {
    width: 28px;
    height: 3px;
    top: 12px;
  }
  .header__button-image::before {
    width: 24px;
    height: 3px;
    top: 24px;
  }
  .search__btn::before {
    bottom: 11px;
    left: 11px;
    width: 3px;
    height: 10px;
    transform: rotate( 45deg);
  }
  .search__btn::after {
    box-sizing: border-box;
    top: 12px;
    right: 15px;
    width: 24px;
    height: 24px;
    border: 3.5px solid var(--color6);
  }
  .logo {
    margin-left: -8px;
  }
  .order__image-1 {
    background-image: url('/img/order/swiper/1/order-imgX768-1.jpg');
  }
  .order__image-2 {
    background-image: url('/img/order/swiper/2/order-imgX768-2.jpg');
  }
  .order__image-3 {
    background-image: url('/img/order/swiper/3/order-imgX768-3.jpg');
  }
  .order__text {
    margin-left: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
  .order__btn {
    margin: auto 0 0 2px;
    width: 314px;
    height: 69px;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
  }
  .order__body {
    text-align: start;
  }
  .order__content {
    margin-left: -2px;
    min-height: 668px;
    padding: 112px 0 115px 0;
  }
  .header__nav-body {
    padding: 26px 0 0 0;
  }
  .header__close {
    margin-left: -9px;
    margin-bottom: 21px;
  }
  .header__close::after {
    top: 7px;
    left: 23px;
    height: 37px;
    width: 4px;
  }
  .header__close::before {
    top: 23px;
    left: 6px;
    height: 4px;
    width: 37px;
  }
  .header__nav-item {
    height: auto;
  }
  .header__nav-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }
  .header__signin {
    margin-bottom: 51px;
    width: 257px;
    height: 60px;
  }
  .header__nav-list {
    margin-bottom: 70px;
  }
  .header__signin-text {
    padding-left: 21px;
    font-size: 18px;
    background-position: top 4px left 0px;
  }
  .search__button::after {
    box-sizing: border-box;
    top: 11px;
    right: 11px;
    width: 26px;
    height: 26px;
    border: 3px solid var(--color6);
  }
  .search__button::before {
    bottom: 10px;
    left: 13px;
    width: 3px;
    height: 9px;
  }
  .search__form {
    padding: 0 40px;
    height: 100px;
    display: flex;
    align-items: center;
  }
  .search__close {
    order: 100;
    margin-left: auto;
    position: relative;
  }
  .search__button {
    margin-right: 0px;
    margin-bottom: 0;
  }
  .search__input {
    font-size: 24px;
    line-height: 28px;
    width: 576px;
    margin-right: 0;
    margin-bottom: 9px;
  }
  .search__close::after {
    top: 5px;
    left: 24px;
    height: 37px;
    width: 4px;
  }
  .search__close::before {
    top: 22px;
    left: 7px;
    height: 4px;
    width: 37px;
  }
  .heading {
    font-size: 48px;
    line-height: 65px;
  }
  .about__text {
    font-size: 16px;
    line-height: 33px;
  }
  .about {
    padding: 80px 0 69px 0;
  }
  .gallery {
    padding: 80px 0 70px 0;
    background-image: url('/img/gallery/background/gallery-backgroundX720.jpg')
  }
  .gallery__select-description {
    margin-bottom: 17px;
  }
  [class*="choices"] {
    width: 280px;
  }
  .choices__item {
    font-size: 16px;
  }
  .choices__inner {
    padding: 6px 9px 0 10px;
  }
  .choices[data-type*=select-one]:after {
    top: 18px;
    right: 15px;
  }
  .gallery__swiper {
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
  }
  .gallery__navigation {
    align-self: flex-start;
    margin: 0 0 30px 0;
  }
  .gallery__left-elem {
    margin-bottom: 51px;
  }
  .gallery__swiper .swiper-horizontal {
    height: 594px;
  }
  .gallery__slide {
    height: auto;
    margin-bottom: -10px;
  }
  .gallery__prev {
    margin-right: 18px;
  }
  .gallery__pagination {
    margin-right: 9px;
  }
  .gallery__image {
    height: auto;
  }
  .gallery__popup-body {
    display: flex;
    min-height: 594px;
  }
  .gallery__popup-picture {
    height: auto;
    width: 301px;
  }
  .gallery__popup-content {
    padding: 0 57px;
    width: 367px;
    align-self: center;
    height: 100%;
  }
  .gallery__popup-years {
    display: block;
  }
  .gallery__popup-text {
    line-height: 30px;
  }
  .gallery__popup-heading {
    margin-bottom: 40px;
  }
  .gallery__popup-image {
    height: 100%;
  }
  .catalog {
    padding: 80px 0 30px 0;
  }
  .catalog__top {
    display: flex;
    margin: 0 0 5px 0;
  }
  .catalog__nav {
    flex-grow: 1;
    margin: -1px -9px 4px 30px;
  }
  [class*="catalog__link"] {
    width: 46px;
    height: 46px;
    background-size: 46px 46px;
  }
  .catalog__nav-item {
    width: 64px;
    height: 64px;
  }
  .catalog__content-text {
    display: block;
    font-size: 16px;
    line-height: 33px;
    margin: 0 0 19px 0;
  }
  .ui-accordion .ui-accordion-header {
    font-size: 24px;
    line-height: 32px;
    min-height: 116px;
  }
  .ui-accordion-header-icon {
    top: 32px;
    width: 50px;
    height: 50px;
  }
  .ui-accordion-header-icon::before {
    margin-top: -4px;
    width: 12px;
    height: 12px;
  }
  .ui-state-active .ui-accordion-header-icon::before {
    margin-top: 5px;
  }
  .ui-state-active {
    color: var(--color11);
  }

  .ui-accordion .ui-accordion-content {
    border: none;
    padding: 27px 0 23px 0;
    overflow: hidden;
  }
  .painter__picture {
    margin: 0 0 28px 0;
    width: 100%;
    height: auto;
  }
  .painter {
    padding: 50px 0 0 0;
  }
  .painter__tittle {
    margin: 0 0 9px 1px;
  }
  .painter__description {
    margin: 0 0 0 1px;
    padding: 0;
  }
  .accordion__tittle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 7px;
  }
  .accordion__image {
    width: 278px;
    height: 192px;
    margin-right: 24px;
  }
  .accordion__image::after {
    top: 12px;
    left: 12px;
    width: 251px;
    height: 165px;
  }
  .accordion__item-content {
    flex: 0 0 40%;
  }
  .accordion__item-body {
    justify-content: start;
  }
  .events {
    padding: 39px 0 80px 0;
  }
  .events__picture {
    width: calc(100% + 2px);
    margin: 0 -1px -3px -1px;
  }
  .events__content {
    padding: 0;
    margin: -1px 0 0 0;
  }
  .events__slide-tittle {
    line-height: 33.5px;
    margin-top: 5px;
    margin-bottom: 1px;
  }
  .events__slide-description {
    margin-bottom: 0;
  }
  .events__slide-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: 15px 36px 48px 34px;
  }
  .events__tittle {
    margin-bottom: 16px;
  }
  .swiper-slide1 .events__slide-tittle, .swiper-slide2 .events__slide-tittle, .swiper-slide3 .events__slide-tittle, .swiper-slide4 .events__slide-tittle {
    margin-bottom: 1px;
  }
  .events__link {
    margin: auto 0 0 1px;
    padding: 0 0 3.5px;
    border-bottom: 1px solid var(--color7);
  }
  .events .swiper-slide:nth-child(2n) {
    margin-right: 0;
  }
  .events .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
  .events .slider {
    width: auto;
    margin: 0 0 0 -2px;
  }
  .events .events__slide {
    width: calc(100% / 2 - 34px);
    min-height: 683px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .events .events__slide:not(:last-child) {
    margin-right: 34px;
    margin-bottom: 34px;
  }
  .events .btn {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 16px 0 0 -3px;
    width: 188px;
    height: 59px;
    color: var(--color7);
    border: 2px solid var(--color7);
    border-radius: 100px;
  }
  .events .slides-wrap {
    flex-wrap: wrap;
    margin-right: -32.5px;
    align-items: stretch;
  }
  .books {
    padding: 84px 0 62px 0;
    background-image: url('/img/books/background/books-backgroundX768.jpg');
  }
  .books__filter {
    width: 277px;
  }
  .books .js-accordion-wrap .heading::after {
    display: none;
  }
  .books .question {
    border: none;
  }
  .books .js-accordion__content .checkbox-wrap {
    border: none;
    max-width: 183px;
  }
  .books .js-accordion-heading {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0px;
  }
  .books__tittle {
    margin-bottom: 17.5px;
  }
  .check-text {
    font-size: 16px;
    line-height: 32px;
  }
  .checkbox-wrap {
    min-height: 32px;
  }
  .visual-check {
    top: 9.5px;
  }
  .books .accordion-wrap {
    margin-bottom: -4px;
  }
  .books .row {
    flex-wrap: nowrap;
  }
  .books .nav-btn {
    background: var(--color3);
    width: 30px;
    height: 30px;
  }
  .books .test-pagination {
    color: var(--color6);
    justify-content: space-between;
    width: 32px;
    margin-right: 20px;
    margin-bottom: -3px;
  }
  .books .test-prev {
    margin-right: 18px;
  }
  .books .test-next::before {
    left: calc(50% - 5px);
  }
  .books .test-navigation {
    margin-bottom: 31px;
  }
  .books .slider {
    padding: 0 27px 0 27px;
  }
  .books .slide:not(:last-child) {
    margin-bottom: 0;
  }

  .books .slides-wrap {
    margin: 0;
    flex-wrap: nowrap;
  }
  .books__picture {
    width: 100%;
    min-height: auto;
    margin-bottom: 10px;
  }
  .books__content {
    max-width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .books__item {

    min-height: 113px;
  }

  .books__button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
  }
  .projects {
    padding: 80px 0 50px 0;
  }
  .projects__text {
    line-height: 33px;
    margin-right: 5px;
    margin-bottom: 23px;
  }
  .projects__description {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .projects__swiper {
    height: 107px;
  }
  .projects [class*="swiper__link"] {
    width: 264px;
    height: 106px;
  }
  .projects [class*="swiper-button"] {
    top: calc(50% + 5px);
  }
  .projects .swiper-horizontal {
    padding: 0 53px;
  }
  .projects .swiper-slide-prev {
    margin-left: calc(-50%);
    transition: margin .9s ease-in-out;
  }
  .projects .swiper-slide-active {
    margin-left: calc(50%);
    transition: margin .9s ease-in-out;
  }
  .projects .swiper-slide-next+.swiper-slide {
    margin-left: calc(50%);
    transition: margin .9s ease-in-out;
  }
  .first-img {
    width: 210px;
    height: 52px;
  }
  .second-img {
    width: 217px;
    height: 38px;
  }
  .third-img {
    width: 195px;
    height: 45px;
  }
  .fourth-img {
    width: 105px;
    height: 73px;
  }
  .fifth-img {
    width: 121px;
    height: 59px;
  }
  .sixth-img {
    width: 176px;
    height: 48px;
  }
  .seventh-img {
    width: 194px;
    height: 47px;
  }
  .eight-img {
    width: 143px;
    height: 62px;
  }
  .ninth-img {
    width: 182px;
    height: 49px;
  }
  [class*="projects__img"] {}
  .contacts {
    padding: 29px 0 0 0;
  }
  .contacts__tittle {
    margin-bottom: 16px;
  }
  .address {
    margin-bottom: 28px;
  }
  .address__object {
    margin: 0 0 4px;
    font-size: 24px;
    line-height: 32px;
  }
  .address__description {
    font-size: 16px;
    line-height: 32px;
  }
  .form__tittle {
    font-size: 24px;
    line-height: 32px;
  }
  .form__btn {
    width: 157px;
    height: 58px;
    font-size: 18px;
    line-height: 25px;
  }
  .messengers__tittle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  [class*="messengers__link"] {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
  .form__input {
    margin-bottom: 23px;
  }
  .form {
    margin-bottom: 39px;
  }
  .messengers__item:not(:last-child) {
    margin-right: 26px;
  }
  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer__logo {
    margin-left: 1px;
    width: 173px;
    height: 40px;
  }
  .social__icon {
    width: 60px;
    height: 60px;
  }
  .footer {
    display: flex;
    align-items: center;
    padding: 0;
    height: 140px;
  }
  .social {
    margin: 0 0 -3px;
  }
}

@media (min-width:700px) {
  .order__heading {
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 11px;
  }
  .accordion__list {
    margin-right: -60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 290px;
  }
  .books .js-accordion__content {
    flex-wrap: wrap;
    align-items: flex-start;
    height: 189px;
    margin-right: -17px;
  }

  .books__cost {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .books__item {
    position: relative;
    min-height: 100px;
  }
  .checkbox-wrap[data-position*="10"], .checkbox-wrap[data-position*="11"], .checkbox-wrap[data-position*="12"] {
    transform: translate(29px, 0)
  }
  #map {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0px;
    width: calc(100% - 430px);
    height: calc(100% - 1px);
    margin: 0;
  }
  .contacts__body {
    position: relative;
    height: 700px;
    margin: 0 -50px;
  }
  .contacts__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 430px;
    height: 100%;
    padding: 49px 45px 0 49px;
    border-top: 1px solid var(--color5);
    border-right: 1px solid var(--color5);
    border-left: 1px solid var(--color5);
  }
}

@media (min-width: 960px) {
  .header__nav-popup {
    left: -130%;
    transform: perspective(600px) translate(0, 0px) rotateY(90deg);
  }
  .header__nav-popup.open {
    transform: perspective(600px) translate(130%, 0) rotateY(0deg);
  }
  .search__body {
    transform: perspective(600px) translate(0, 0px) rotateY(-90deg);
  }
  .search__btn::after {
    width: 26px;
    height: 26px;
  }
  .search__btn::before {
    bottom: 8px;
    left: 8px;
  }
  .order__text {
    max-width: 660px;
  }
  .order__image-3 {
    background-image: url('/img/order/swiper/1/order-imgX1024-1.jpg');
  }
  .order__image-2 {
    background-image: url('/img/order/swiper/2/order-imgX1024-2.jpg');
  }
  .order__image-1 {
    background-image: url('/img/order/swiper/3/order-imgX1024-3.jpg');
  }
  .events .slide {
    width: calc(100% / 2 - 20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes outs {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--color11);
  }
}
